/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://pbs.twimg.com/media/D7P_yLdX4AAvJWO.jpg:large');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
    @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
    font-family: 'Amatic SC', cursive;
}